---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

const { posts } = await fetch("https://dummyjson.com/posts?limit=10").then(res => res.json())
const date = new Date();
---

<MainLayout title="Dani Syam | Blog">
    <main class="flex flex-col gap-4 p-6">
        {posts.map((post: any) => {
            return (
            <BlogCard
            image="https://dummyjson.com/image/400x200/008080/ffffff?text=THUMBNAIL"
            title={post.title}
            tag={post.tags}
            date={date.toLocaleDateString()}
            desc={post.body}
            link={post.link}
            />
        )
        })}
    </main>
</MainLayout>