---
interface Props {
    image: string,
    title: string,
    tag: Anchor[],
    date: string,
    desc: string,
    link: string
}
interface Anchor {
    text: string,
    href: string
}

const { image, title, tag, date, desc, link  } = Astro.props
---

<div>
    <img src="https://dummyjson.com/image/400x200/008080/ffffff?text=Hello+Peter" alt="Blog Thumbnail">
    <h3>{title}</h3>
    <div>
        {tag?.map((tag) => <p>{tag}</p>)}
    </div>
    <p>{date}</p>
    <p>{desc}</p>
    <a href={link}>Read More...</a>
</div>